/* Inter Variable Font (Modern Browsers) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/src/assets/fonts/Inter-Variable.woff2') format('woff2-variations');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/src/assets/fonts/Inter-Regular.woff2') format('woff2'),
       url('/src/assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/src/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
       url('/src/assets/fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/src/assets/fonts/Inter-Bold.woff2') format('woff2'),
       url('/src/assets/fonts/Inter-Bold.woff') format('woff');
}